C:/Users/19015/PycharmProjects/CMOR-438-Spr-2025/Supervised[[:space:]]Learning/Datasets/fashion-mnist_train.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/19015/PycharmProjects/CMOR-438-Spr-2025/Supervised[[:space:]]Learning/Datasets/fashion-mnist_train.csv filter=lfs diff=lfs merge=lfs -text
